# development || production
NODE_ENV=development

# SERVEUR WEB
HTTP_DOMAIN='localhost'
HTTP_PORT=4300

# BASE DE DONNEES
DB_CLIENT='pg'
DB_HOST='localhost'
DB_PORT=5432
DB_USER='postgres'
DB_PASSWORD=''
DB_DATABASE='postgres'
DB_SSL=false
DB_POOL_MIN=0
DB_POOL_MAX=10
DATABASE_URL='mysql://root:rootpassword@mysql_semirp:3306/semirp?schema=public'
# DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiNDc2ZDcwN2YtYTlkMC00ZjIzLTgwZTMtYjU4ZjdhYmE0ZjM3IiwidGVuYW50X2lkIjoiNzRhODJkNGU2NTYzNGM4NWE0NGVlMGJiNWI3ZGRkOGRkY2E4ZmVlNTQwNzFiZDIyNWE4YmM5NGE2M2Y5NDYzYiIsImludGVybmFsX3NlY3JldCI6IjQ4YTAwYjQ4LTk5ZmQtNGQxYy1iOTcwLTQ1OGUxMTFmZDQ3ZSJ9.kGiYAGTvZL09cGn9un-PNvxDnoK0RUxDzat0MhilFek"
REDIS_URL='redis://default:0c0TB1DAPj99c7qYuxSCQSLvcxRYrNmf@redis-18770.c61.us-east-1-3.ec2.redns.redis-cloud.com:18770'
SESSION_SECRET='yourSecretKey'